<div class=" w-full flex justify-between items-center px-10 py-5 bg-orange-200">
  <h1 class="text-3xl font-semibold">Demo2</h1>
  <nav class="flex gap-10">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/pokemon" routerLinkActive="active">Pokemon</a>
  </nav>
</div>

<!-- <div class="max-w-full">
  <app-pokemon-list></app-pokemon-list>
  <app-pokemon-template-form></app-pokemon-template-form>
</div> -->

<router-outlet></router-outlet>